<a href="https://colab.research.google.com/github/Ikhadija-5/Python-Basics-for-Wimlds-Meetup/blob/main/Python_Basics_WIMLDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

In [ ]:
print("Hello World")

Hello World

Simple variable creation

* To create a simple variable, we need to give the variable a name and a value(data type). In other words, we assign a value to a variable

In [ ]:
#Lets declare some variables

age = 45 #integer value

salary = 1456.8 # A floating point

name = "John" # A string

#displaying the variables
print(age)
print(salary)
print(name)

45
1456.8
John

In [ ]:
type(age)

int

**TO DO**

In [ ]:
#1.Declare a variable containing your name, age and your current locatiom.
#2.Display these variables in the format "My name is .......name....I am ....age....years old and I am currently living in ....Ghana"

############START###########################
name = 'Khadija'
age = '45'
location = 'Senegal'
###############END###########################

In [ ]:
print('My name is', name, 'I am', age, 'I am currently living in', location )

My name is Khadija I am 45 I am currently living in Senegal


**TO DO**

Fix the errors in the following variable declarations

In [ ]:
myvar = "John"
myvar

'John'

In [ ]:
2myvar = "John"
2myvar

SyntaxError: ignored

### Ways of Assigning Values to a variable

In [ ]:
#Multiple variables to multiple values
# x = "orange"
# y = "Banana"
# z = "Cherry"
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# Multiple variables to one value
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#Multiple values to one variable?
_var = 5,6,7
_var

(5, 6, 7)

In [ ]:
#Unpacking variables from a list, set, tuple, e.t.c
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#Lists

* In python, we have data types used to store collections of data. A **Lists** is one of such types that we use to store multiple items in one variable 


* Lets see how we can create *lists*

In [ ]:
############## Using square brackets #####################
list1 = ["orange", "mango","apple"]
# type(list1)


# ############## Using list constructor list() ##############
list2 = list((1,6,2,3,))
type(list2)

list

In [ ]:
type(list1)

list

**TO DO**

In [ ]:
################## Create a variable containing a list of days of the week #######################

######################### Method 1 ########################################

######################### Method 2 ########################################

##Properties:
* They are ordered
* They are mutable
* Allows for duplicate values

In [ ]:
######### Try to access Wednesday from the list of days in a week variable created ###########
days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
# days[0]

days.index('Sunday')

6

In [ ]:
days[1] = 'Sunday'

In [ ]:
days

['Monday', 'Sunday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
######## Try to change the second day to Sunday ##############################################
d = ['m','t','w','t','t','f']

In [ ]:
######### Print The Variable day, what do you observe? #######################################
print(d)
#Allows Duplicates

List can contain multiple data types

In [ ]:
mixedlist = [1,'w',True,0.4]
mixedlist

[1, 'w', True, 0.4]

## Size of a list

In [ ]:
len(mixedlist)

4

In [ ]:
len(days)

7

## Indexing and Slicing

* Indexing and slicing helps us access values in a list
* Both indexing and slicing takes only integer values

In [ ]:
countries = ["Ghana","Kenya","Egypt", "Senegal","Nigeria"]

**To Do**

In [ ]:

############## print Ghana ###################
#positive index
countries[0]


############### print Nigeria ####################
#negative index
print(countries[-1])
############### print all countries except Ghana and Nigeria
#slicing

print(countries[1:4])

Nigeria
['Kenya', 'Egypt', 'Senegal']

## Adding elements to a list

In [ ]:
############ Using Append() ################
shop = []
shop.append("veges")
shop.append("fruits")
shop.append("milk")
shop

['veges', 'fruits', 'milk']

**TO DO**

In [ ]:
############  Using Insert() ##################
num = [1,2,3,4,5,6]
num.insert(7, 8) 
print(num)
####################### Replace 3 with car in s ############################

####################### Insert 7 at the end of the s #######################

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
len(num)

7

In [ ]:
num[9]

IndexError: ignored

In [ ]:
###################### Using Extend() ##############################
#append but with multiple elements
fruits = ['Orange','Mango','Pawpaw']
Vegetables = ['Tomato','Onion']

fruits.extend(Vegetables)

In [ ]:
fruits

['Orange', 'Mango', 'Pawpaw', 'Tomato', 'Onion']

**TO DO**

In [ ]:
#################### create an empty list and add your favorite foods using extend() ###########

## Removing Elements from a list

**To Do**

In [ ]:
########### Using pop() ###########################
#Removes last element by default, pass index inorder to remove specific element
fruits = ['Orange','Mango','Pawpaw']
fruits.pop()

'Pawpaw'

In [ ]:
fruits = ['Orange','Mango','Pawpaw','Pawpaw']
fruits.pop(1)

'Mango'

In [ ]:
fruits

['Orange', 'Pawpaw', 'Pawpaw']

In [ ]:
########### Using remove() ###########################

#Removes specified element, one at a time

# Dictionaries

Dictionaries in Python are used to store data values just like list, but unlike a list that holds only a single value as an element, Dictionaries holds key:value pair. 
Properties:
 * They are ordered
 * changeable 
 * Do not allow duplicates

##Creating a dictionary

We can create a dictionary using curly brackets {}

In [ ]:
dict1 = {"Ashanti":"Kumasi","Volta":"Ho","Northern":"Tamale"}

# ############## the use of Integer Keys: 
dict2 = {1:"Ashanti", 2:"Volta",3:"Northern"}

# ########## use of Mixed Keys: ###########
dict3 = {1: [1, 2, 3, 4], 'Name': 'Geeks'}

# print(dict1)
# print(dict2)
# print(dict3)

In [ ]:
dict3

{1: [1, 2, 3, 4], 'Name': 'Geeks'}

**TODO**

In [ ]:
######## Create a dictionary containing items of a supermaket as keys and prices as values #############

supermaket = {'milk':20,'sugar':60 }

print(supermaket)

{'milk': 20, 'sugar': 60}

##Accesing Elements in dictionaries
We can access elements of a dictionary by its key values

In [ ]:
dict1['Northern']

'Tamale'

###Get keys

In [ ]:
regions  = dict1.keys()
regions

dict_keys(['Ashanti', 'Volta', 'Northern'])

###Get values

In [ ]:
capitals = dict1.values()
capitals

dict_values(['Kumasi', 'Ho', 'Tamale'])

##Mutable

In [ ]:
currencies = {'US':'dollar','Ghana':'Naira','Nigeria':'Naira','Senegal':'CFA'}
currencies

{'Ghana': 'Naira', 'Nigeria': 'Naira', 'Senegal': 'CFA', 'US': 'dollar'}

In [ ]:
currencies['Ghana'] = 'Cedis'
currencies

{'Ghana': 'Cedis', 'Nigeria': 'Naira', 'Senegal': 'CFA', 'US': 'dollar'}

### Handling Duplicates

In [ ]:
dict4 = {"Ashanti":"Kumasi","Volta":"Ho","Northern":"Tamale","Ashanti":"Kumasi"}
dict4

{'Ashanti': 'Kumasi', 'Northern': 'Tamale', 'Volta': 'Ho'}

**TO DO**

Create a dictionary using the names of 5 people on the zoom as keys and randomly assign ages to them as their values.
i.e Musah:10, Salomey:12, Aseda:9, Kanubala:17, Abigail:19

In [ ]:
#Insert your code here..............

##More operations on dictionaries include
* Adding elements
* Removing elements
* Nesting
* E.t.c

# Sets

Sets are used to store multiple items in a single variable.

##Properties
* Unordered and Unindexed
* Unchangeable*
* Do not allow duplicates

In [ ]:
fruits = {"apple","banana","mango"}
fruits

{'apple', 'banana', 'mango'}

In [ ]:
type(fruits)

set

In [ ]:
#Unordered
fruits[1]

TypeError: ignored

In [ ]:
# #Unchangeable*
fruits[1] = "strawberry"

TypeError: ignored

In [ ]:
#Non duplicates
fruits = {"apple","banana","mango","apple"}
fruits

{'apple', 'banana', 'mango'}

Adding items to a set

In [ ]:
fruits.add("orange")
fruits

{'apple', 'banana', 'mango', 'orange'}

In [ ]:
fruits = {"apple","banana","mango","apple"}
veges = {"tomato", "lettuce", "okra"}
fruits.update(veges)
fruits

{'apple', 'banana', 'lettuce', 'mango', 'okra', 'tomato'}

Removing items

In [ ]:
fruits.remove("apple")
fruits

{'banana', 'lettuce', 'mango', 'okra', 'tomato'}

In [ ]:
fruits.discard("banana")
fruits

{'lettuce', 'mango', 'okra', 'tomato'}

# Resources

* [W3schools](https://www.w3schools.com/python/default.asp)
* [GeekforGeeks](https://www.geeksforgeeks.org/python-language-introduction/?ref=lbp)
* [DataCamp](https://app.datacamp.com/learn/courses/intro-to-python-for-data-science)
* [Kaggle](https://www.kaggle.com/learn/python?rvi=1)
* [FreeCodeCamp](https://www.freecodecamp.org/news/free-python-crash-course/)